@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&display=swap');
body,html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased ;

}
body{
    overflow-x: hidden;
}
*{
    padding:0;
    margin:0;
}
.mobile-content{
    display: none;
    width: 65%;
    margin-left: auto;
    background-color: #1c1c1c;
    opacity: 0;
    color: #fff;
    height: 0;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}
.mobile-content span{
    padding-left:30px;
    cursor: pointer;
}
.mobile-content span:hover{
    color:orangered;
}
.menu-mobile{
    cursor: pointer;
    font-size: 24px;
}
.Home{
    height: 900px;
    color:#fff;
    max-width: 100%;
    position: relative;
    /* background: #000; */
    box-shadow: none;
    overflow: hidden;
}
.Home::before{
    content:"";
    top: -10px;
    left:-10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position:absolute;
    filter:blur(2px);
    z-index: -1;
    background:url(../img/alexander-andrews-tnPTwvUkRxk-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.nav-bar{
    position: fixed;
    top:0;
    left: 0;
    width:-webkit-fill-available;
    z-index: 1000;
    padding-left: 25px;
    background-color: transparent;
    transition: background-color 0.3s ease;

}

.logo h2{
    color:orangered;
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"MORF" 0;
    font-size: 45px;
  }
.menu ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-weight: 500;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu ul li {
    list-style: none;
}
.menu ul li a:hover{
    color: orangered;
}
.main-home{
    padding-top: 280px;
}
.Welcome h1{
    font-size: 67px;
    font-weight: 900;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.scroll-button button{
    background:inherit;
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    text-align: center;
    align-items: center;
    color: #fff;
    margin-top: 90px;
    /* display:flex; */
}
.description{
    font-size: 42px;
    font-weight: 600;
}

.scroll-button button:hover{
    color:orangered;
    border: 3px solid orangered;
}
.About{
    background-color:#000;
    height: 100%;
    max-width: 100%;
}
.AboutMe{
    color:orangered;
    padding-top: 120px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.AboutMe h3{
    font-size: 45px;
    font-weight: 550;
}
hr{
    width:30%;
    background-color: #fff;
    /* padding-top: 20px; */
    height: 2px;
    border:none;
    margin: 0 auto;

}
.aiImage{
    padding-top: 24px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
}
.aiImage img{
    width:100%;
}
.personal-block{
    width:75%;
    color:#fff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;

}
.personal-image img{
    width:100%;
}
.Personal-Desc .P-img{
    height: 270px;
    background: url(../img/fraol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Ed-test .E-img{
    height: 205px;
    background: url(../img/tim-schmidbauer-JVaGLAhfbW8-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Personal-Desc,.Ed-test {
    border-radius: 35px;
    overflow: hidden;
    padding-bottom: 15px;
    padding-left: 10px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.P-img-desc, .E-img-desc{
    padding-left: 10px;
    background-color: #1c1c1c;
}
.Ed-test:hover{
    background-color: #000;
    opacity: 0.8;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.06);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}
.Personal-Desc:hover{
    background-color: #000;
    opacity: 0.8;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.06);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}
.Contact{
    background-color: #000;
    max-width: 100%;
    height: 100%;
    color:white;
}
.contact-title{
    background: linear-gradient(to right,orangered,#12122e);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding-top: 120px;
    text-align: center;
}
.contact-title h3{
    font-size: 45px;
    font-weight: 550;
}
.infowrapper{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 40px;
}
.contact-info{
    background-color: #000;

}
.address,.phone,.gmail,.website{
    background-color: #12122e;
    border: 4px solid #000;
    box-shadow: 0 4px 9px #7cc4f8;
    border-radius: 35px;
    opacity:0.9;
    overflow: hidden;
}
.address div,.phone div, .gmail div, .website div{
    padding-top: 10px;
}
.address:hover,.phone:hover, .gmail:hover, .website:hover{
    background-color: #000;
    opacity: 0.8;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.06);
    box-shadow: 0 4px 10px #7cc4f8;
    cursor:pointer;
}
.social-media{
    background-color: #12122e;
    box-shadow: 0 4px 10px #7cc4f8;
    border-radius: 10px;
    height: 410px;
}
.AboutMe,.E-img-desc h3,.P-img-desc h3,.phone-name,.email-name,.web-name,.map-name,.social-title h2{
    background: linear-gradient(to right,orangered,#12122e);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.curtain-img img,.plant-img img,.wall-img img,.cafe-img img,.paint-img img,.software-img img{
    width:100%;
}
.Portfolio{
    background-color: #000;
    color:white;
    max-width: 100%;
}
.portfolio-title{
    background:linear-gradient(orangered,#000);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 30px;
}
.portfolio-title h3{
    font-size: 45px;
    font-weight: 550;
    padding-top: 55px;
}
.project-wrapper{
    padding-top: 30px;
}
.curtain,.wall,.paint,.software,.cafe,.plant{
    background-color: #12122e;
    border-radius: 30px;
    overflow: hidden;
    color:orangered;
}
.project-wrapper button{
    width:30%;
    color:white;
    border-radius: 15px;
    background-color: #12122e;
    box-shadow: 0 4px 10px #7cc4f8;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.curtain:hover,.wall:hover,.paint:hover,.software:hover,.cafe:hover,.plant:hover{
    background-color: #000;
    opacity: 0.8;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.06);
    box-shadow: 0 4px 10px #7cc4f8;
    cursor:pointer;
}
.curtain div,.paint div,.cafe div,.wall div,.software div,.plant div{
    padding-top: 10px;
}
.curtain span,.paint span,.cafe span,.wall span,.software span,.plant span{
    margin-right: 5px;
    border: #000 solid 1px;
    box-shadow:0 4px 9px #7cc4f8;
    color:white;
    border-radius: 12px;
    font-size: small;
}
.more-project button{
    width: 250px;
    background-color: #12122e;
    color: white; 
    padding: 10px 20px;  
    border: none;
    border-radius: 30px;
    cursor: pointer; 
    font-size: 35px;
}
.more-project{
    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 140px;
}
.more-project button:hover{
    background-color: #000;
    opacity: 0.8;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.06);
    box-shadow: 0 4px 10px #7cc4f8;
    cursor:pointer;
}







@media(max-width:768px){
    .description{
        font-size: 35px;
        font-weight: 520;
    }
    .menu ul li a{
        font-size: 15px;
        font-weight: 300;
    }
    .social-media{
        width:75%;
        height: 455px;
    }

}
@media(max-width:576px){
    .menu ul li a{
        font-size: 12px;
    }
    .description{
        font-size: 28px;
        font-weight: 470;
    }
    .Welcome h1{
        font-size: 50px;
    }
    .logo h2{
        font-size: 27px;
        font-weight: 250;
    }
    .contact-info p{
        font-size: 12px;
    }
}
@media(max-width:920px){
    .menu ul li a{
        font-size: 19px;
        font-weight: 360;
    }
    .social-media{
        height:480px;
    }
}
